body {
  background-color: #f2f2f2;
}

.container {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  padding-top: 50px;
}


input[type=text],
input[type=password],
input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  transition: border-color 0.3s ease-in-out;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus {
  outline: none;
  border-color: #007bff;
}

button[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

button[type=submit]:hover {
  background-color: #3e8e41;
  transform: translateY(-2px);
}

a {
  color: #2196F3;
}

p {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

/* Add an animation to the container */
.container {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
